.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px !important;
    font-size: large;
}
.navbar > a {
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.navbar > a:last-child {
    margin-right: 0px;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.light:visited {
    color: #000000;
}

.dark:visited {
    color: #eeeeee;
}

.navbar > a:hover {
    cursor: pointer;
    color: rgb(44, 40, 255);
}

.navbar > .active-link {
    color: red;
}
.just-header > p,
.just-header > h1 {
    display: inline;
    vertical-align: center;
}
.logged-as-paragraph {
    position: absolute;
    right: 4px;
}
@media (max-width: 768px) {
    .navbar {
        padding: 0px !important;
        flex-direction: column;
    }
    .navbar > a {
        margin: 0 0 5px 0;
        float: none;
        display: block;
        text-align: center;

        padding: 5px;
    }

    .logged-as-paragraph {
        position: fixed;
        right: 4px;
        bottom: 5px;
    }
}
