.navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 0px !important;
    font-size: large;
}
.navbar > a {
    margin-right: 40px;
    margin-bottom: 5px;
    text-decoration: none;
}
.navbar > a:hover {
    cursor: pointer;
}
.navbar > a:last-child {
    margin-right: 0px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0px !important;
        flex-direction: column;
    }
    .navbar > a {
        margin: 0 0 5px 0;
        float: none;
        display: block;
        text-align: center;
    }
}
