.cards-nav {
    display: flex;
    margin-left: 20px;
    border-right: 1px solid black;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards-nav > a {
    text-decoration: none;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    width: 200px;
    text-align: center;
}
