.footer{
    font-size: 1vw;
    background-color: rgba(218, 202, 202, 0.596);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-p{
    padding: 0;
    margin: 0;
}